<div class="control">
  <div class="label">Controls:</div>
  <button (click)="parse()">Parse</button>
  <button (click)="core.step()">Step</button>
  <button (click)="core.toggleClock()">Start/Stop clock</button>
<!--  <div class="label">Number-presentation:</div>
  <select (change)="radix($event)">
    <option value="16">Hex</option>
    <option value="8">Oct</option>
    <option value="2">Bin</option>
    <option value="10">Dec</option>
  </select>-->
  <div class="label">MR2DA2:</div>
  <div class="table-container input">
    <div class="table-row"></div>
    <div class="table-row" title="Value in Volt">
      <div class="table-label">P-AI1:</div>
      <div class="table-value"><input (change)="input($event, 0)" type="number" value="0" value="0" min="0" max="2.55" step="0.01" /> </div>
    </div>
    <div class="table-row" title="Value in Volt">
      <div class="table-label">P-AI2:</div>
      <div class="table-value"><input (change)="input($event, 1)" type="number" value="0" min="0" max="2.55" step="0.01" /> </div>
    </div>
  </div>
</div>
<ngx-codemirror
  #editor
  [options]="{
    lineNumbers: true,
    theme: 'material',
    indentUnit: 2,
    smartIndent: true,
    tabSize: 2,
    showCursorWhenSelecting: true,
    mode: 'mrasm'
  }"
  [ngModel]="
'#! mrasm

.ORG 0
  CLR R0
  
LOOP:
  ST (0xFF),R0
  ST (0xF0),R0
  INC R0
  JR LOOP
'"
></ngx-codemirror>
