:host {
  display: flex;
  flex-direction: row;
}
.control {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  padding: 0 1em;

  .table-container {
    border-top: 2px solid #777;
  }
}

ngx-codemirror {
  flex: 1;
  min-width: 45vw;
  height: 100%;
}
