<div class="label">Register:</div>
<div class="table-container">
  <div class="table-row">
    <div class="table-label"></div>
    <div class="table-label">unsigned</div>
    <div class="table-label">signed</div>
  </div>
  <div class="table-row" *ngFor="let value of register.registerArray; index as i">
    <div class="table-label">{{ i.toString() }}</div>
    <div class="table-value">{{ value.toString() }}</div>
    <div class="table-value">{{ (value > 127 ? value - 255 : value).toString() }}</div>
  </div>
</div>

<div class="label">Inputregister:</div>
<div class="table-container">
  <div class="table-row"></div>
  <div class="table-row">
    <div class="table-label">FC</div>
    <div class="table-value"><input (change)="input($event, 252)" type="number" value="0" min="0" max="255" step="1" /> </div>
  </div>
  <div class="table-row">
    <div class="table-label">FD</div>
    <div class="table-value"><input (change)="input($event, 253)" type="number" value="0" min="0" max="255" step="1" /> </div>
  </div>
  <div class="table-row">
    <div class="table-label">FE</div>
    <div class="table-value"><input (change)="input($event, 254)" type="number" value="0" min="0" max="255" step="1" /> </div>
  </div>
  <div class="table-row">
    <div class="table-label">FF</div>
    <div class="table-value"><input (change)="input($event, 255)" type="number" value="0" min="0" max="255" step="1" /> </div>
  </div>
</div>