<div class="label">Memory:</div>
<div class="table-container">
  <div class="table-row">
    <div class="table-label"></div>
    <div *ngFor="let i of keys" class="table-label">_{{ i | integer }}</div>
  </div>
  <div class="table-row" *ngFor="let i of keys">
    <div class="table-label">{{ i | integer }}_</div>
    <div
      *ngFor="let value of memorySection(i); index as j"
      [ngClass]="{ 'table-value': true, 'stack': isStack(i * 16 + j) }"
      [title]="(i * 16 + j).toString(16).toUpperCase()">
      {{ value | integer }}
    </div>
  </div>
</div>
