@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";

html, body {
  height: 100%;
  margin: 0;
}
body {
  background: #191e24;
  color: #eee;
  font-family: 'Roboto Mono', monospace;
}

button,
input,
select {
  font-family: 'Roboto Mono', monospace;
}

.table-container {
  display: table;
}
.table-row {
  display: table-row;
}
.table-label,
.table-value {
  display: table-cell;
  padding: 2px;
  text-align: center;
  border: 2px solid #777;
  border-width: 0 2px 2px 0;
}
.table-row:first-of-type .table-label:not(:first-of-type) {
  border-top: 2px solid #777;
}
.table-row:not(:first-of-type) .table-label {
  border-left: 2px solid #777;
}

.label {
  margin: 1em 0 .4em 0;
}

.CodeMirror {
  height: 100%;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
}
.CodeMirror-activeline {
  background: #191e24;
}